#map
    bottom 0
    left 0
    position absolute
    right 0
    top 0

    .marker-cluster-small,
    .marker-cluster-medium,
    .marker-cluster-large
        background rgb(242,242,242)
        border 7px solid rgb(102,102,102)
        border-radius 40px
        color rgb(102,102,102)
        font-size 1.3em
        font-weight bold
        line-height 40px
        text-align center
