@require('../../../styl/responsive')

#user-controls
    position absolute
    right 2%
    top 10%

    .controls-list
        list-style-type none
        margin 0
    
    .control-item
        background rgb(242,242,242)
        border solid 1px rgb(205,205,205)
        display block
        margin-bottom 1em

        a
            display block
            padding 1.5em

    .map-layer-filter:before
        padding-right .5em

    #mobile-control-map-button
        $hideOn($medium-display)

    #mobile-control-list-button
        $hideOn($medium-display)
    
    #mapLayerFiltersList
        background rgb(242,242,242)
        border solid 1px rgb(205,205,205)
        list-style-type none
        margin-top -1em
        padding 1em 2em
        position absolute
        right 0
        width 200px
        
        li
            margin-bottom 1em
            
            &:last-of-type
                margin-bottom 0
