@require('../../../styl/responsive')
@require('../../../styl/mixins')

#popup-region
    background rgb(242,242,242)
    border solid 1px rgb(205,205,205)
    bottom 10%
    display none
    left 2%
    padding 3em 1.5em
    position absolute
    right 20%
    top 10%

    @media $medium-display
        left: 2%;
        right 70%
    
    .modal-active &
        display block

    .close
        position absolute
        top 4%
        right 5%
