@require('../components')

#popup-region
    @extends .sidebar-component
    display none
    padding-top 5em

    .modal-active &
        display block

    .close
        position absolute
        top 2em
        right 5%
