@require('../../../styl/responsive')
@require('../../../styl/mixins')

.sidebar-component
    background rgb(242,242,242)
    border solid 1px rgb(205,205,205)
    bottom 10%
    left 2%
    overflow auto
    padding 3em 1.5em
    position absolute
    right 20%
    top 10%

    @media $medium-display
        left: 2%;
        right 70%
