@font-face
    font-family 'icomoon'
    src url('/silverstripe-backbone/fonts/icomoon.eot?1pi4s')
    src url('/silverstripe-backbone/fonts/icomoon.eot?#iefix1pi4s') format('embedded-opentype'),
        url('/silverstripe-backbone/fonts/icomoon.woff?1pi4s') format('woff'),
        url('/silverstripe-backbone/fonts/icomoon.ttf?1pi4s') format('truetype'),
        url('/silverstripe-backbone/fonts/icomoon.svg?1pi4s#icomoon') format('svg')
    font-weight: normal
    font-style: normal

[class^="icon-"], [class*=" icon-"]
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-stack:before
    content: "\e92e"

.icon-compass:before
    content: "\e949"

.icon-zoom-in:before
    content: "\e987"

.icon-zoom-out:before
    content: "\e988"

.icon-cross:before
    content: "\ea0f"
