$opacity(opacity)
    -webkit-opacity opacity
    -moz-opacity opacity
    opacity opacity

$transition(transition)
    -webkit-transition transition
    -moz-transition transition
    -ms-transition transition
    -o-transition transition
    transition transition
